// Import Bulma's core
@import "~bulma/sass/utilities/_all";

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


// $primary: #fd9fa3;
// $primary-invert: black;

// $colors: (
//   "primary": ($primary, $primary-invert)
// );

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

.is-fullheight {
  height:100%!important;
}

body {
  font-family: 'Open Sans';
  font-weight: 700;
  color: black;
  p.uppercase-caption {
    text-transform: uppercase;
  }
  h3 {
    font-size: 2em;
  }
}