<template>
  <div id="home" class="is-full-height">
    <div class="columns">
      <div class="column cat-list">
        <ul v-for="(c, index) in this.clips" :key="index">
          <li>
            <a href="#" @click="selectCategory(index)" >{{c.category}}</a>
            &nbsp;
            <span class="remaining" v-bind:class="{ done: isOver(c.id) }">({{countRemaining(c.id)}})</span>
          </li>
        </ul>
      </div>
      <div class="column is-four-fifths">
        <div v-if="selectedCategory">        
          <div class="clip-category">
            <div class="columns v-centered">
              <div class="column has-text-centered"> 
                <img :src="getImage(selectedCategory)" />
                <h3>{{selectedCategory.category}}</h3>
              </div>
              <div class="column clip-grid">
                <div class="level">
                  <div v-for="(v, j) in selectedCategory.clips.slice(0, 4)" :key="j">
                    <router-link :to="{ name: 'question', params: { category: selectedCategory, clip: v}}">
                      <b-button size="is-small" v-on:click="logClick(selectedCategory.id, j + 1)" v-bind:class="{ clicked: isClicked(selectedCategory.id, j + 1) }">
                        {{j + 1}} <span class="mdi mdi-movie-open"></span>
                      </b-button>
                    </router-link>
                  </div>
                </div>
                <div class="level">
                  <div v-for="(v, j) in selectedCategory.clips.slice(4)" :key="j">
                    <router-link :to="{ name: 'question', params: { category: selectedCategory, clip: v}}">
                      <b-button size="is-small" v-on:click="logClick(selectedCategory.id, j + 5)" v-bind:class="{ clicked: isClicked(selectedCategory.id, j + 5) }">
                        {{j + 5}} <span class="mdi mdi-movie-open"></span>
                      </b-button>
                    </router-link>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="container title-frame">
            <div class="title-frame">
              <div class="level">
                <div class="level-left">
                  <h1>The Hollywood Quiz</h1>
                </div>
                <div class="level-right">
                  <div class="round-control-panel">
                    <div v-if="currentRound == null">
                      <b-button size="is-small" class="start-button" v-on:click="startQuiz()"><span class="mdi mdi-play"></span></b-button>
                    </div>
                    <div v-else>
                      <b-button size="is-small" class="reset-button" v-on:click="resetQuiz()"><span class="mdi mdi-restart"></span></b-button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns team-scores">
              <div v-for="(t, i) in this.getTeams()" :key="i">
                <div class="column team">
                  <img :src="t.image" v-bind:class="{ current: isCurrentTeam(i) }"/>
                  <div class="score has-text-centered">
                    <p>{{t.score}}</p>
                  </div>
                  <div class="cats-success has-text-centered">
                    <ul>
                      <div v-for="(c, i) in teamUniqueCategories(t)" :key="i">
                        <li>{{c}}</li>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="footer-text has-text-right">This project is personal, completely non-commercial and intended purely for sharing within the author's family and friends. Source code available on <a href="https://gitlab.com/subbuthepeaceful/hollywood-quiz" target="_blank"> Gitlab</a></p> 
  </div>
</template>

<script>
import Clips from '@/services/clips';
import Teams from '@/services/teams';

export default {
  name: 'Home',
  data() {
    return {
      clips: [],
      selectedCategory: null
    }
  },
  computed: {
    rounds() {
      return this.$store.getters.rounds;
    },
    currentRound() {
      return this.$store.getters.currentRound
    },
    currentTeam() {
      return this.$store.getters.currentTeam
    },
    currentTeamIndex() {
      return this.$store.getters.currentTeamIndex
    },
    teams() {
      return this.$store.getters.teams
    }
  },
  created: function() {

    Clips.loadClips()
      .then((response) => {
        this.clips = response;
        
      });
    if (this.currentRound == null || this.currentRound == 0) {
      Teams.loadTeams()
        .then((response) => {
          console.log(response);
          this.$store.commit('teams', response);
        });
    }
    if (this.$route.params.scored) {
      this.advanceRound();
    }
  },
  methods: {
    getImage(c) {
      return("/images/" + c.image)
    },
    selectCategory(index) {
      this.selectedCategory = this.clips[index];
    },
    logClick(categoryId, clipIndex) {
      let key = 'click-category-' + categoryId + '-clip-' + clipIndex;
      localStorage.setItem(key, true);
      let catKey = categoryId;
      let c = localStorage.getItem(catKey);
      if (c) {
        c = parseInt(c)
        c++;
      }
      else {
        c = 1;
      }
      localStorage.setItem(catKey, c)
    },
    countRemaining(categoryId) {
      let catKey = categoryId;
      let c = localStorage.getItem(catKey);
      if (8 - c > 0) {
        return(8 - c)
      }
      else {
        return(0);
      }
    },
    isClicked(categoryId, clipIndex) {
      let key = 'click-category-' + categoryId + '-clip-' + clipIndex;
      let val = localStorage.getItem(key);
      return(val);
    },
    isOver(categoryId) {
      return(this.countRemaining(categoryId) == 0);
    },
    startQuiz() {
      this.$store.commit('currentRound', 1);
      this.orderRound();
      this.startRound();
    },
    resetQuiz() {
      this.$store.commit('currentRound', null);
      this.$store.commit('rounds', []);
      this.$store.commit('currentTeam', null);
      this.$store.commit('currentTeamIndex', null);
    },
    orderRound() {
      let sortedTeams = this.teams.sort((a, b) => {
        if (a.score == b.score) {
          return(Math.random() - Math.random())
        }
        else {
          return(a.score - b.score);
        }
      })
      this.rounds.push({
        sortedTeams: sortedTeams
      })
      this.$store.commit('rounds', this.rounds);
    },
    getTeams() {
      if (this.currentRound > 0) {
        // The Quiz is in progress
        return(this.rounds[this.currentRound - 1].sortedTeams)
      }
      else {
        return(this.teams)
      }
    },
    startRound() {
      this.$store.commit('currentTeamIndex', 0);
      this.$store.commit('currentTeam', this.getTeams()[this.currentTeamIndex])
    },
    isCurrentTeam(index) {
      return(this.currentTeamIndex == index);
    },
    advanceRound() {
      if (this.currentTeamIndex == this.teams.length - 1) {
        // End of round
        this.$store.commit('currentRound', this.currentRound + 1);
        this.orderRound();
        this.startRound();
      }
      else {
        // advance team
        this.$store.commit('currentTeamIndex', this.currentTeamIndex + 1);
        this.$store.commit('currentTeam', this.getTeams()[this.currentTeamIndex])
      }
    },
    teamUniqueCategories(team) {
      for (let i = 0; i < this.teams.length; i++) {
        if (this.teams[i].name == team.name) {
          return(this.teams[i].categories);
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~bulma/sass/utilities/_all";

  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

  @import "~bulma";
  @import "~buefy/src/scss/buefy";

  div#home {
    font-family: 'Raleway';
    // font-size: 2em;
    color: white;
    p { 
      font-size: 0.5em;
    }
    h3 { 
      font-size: 1.5em;
    }
    button {
      font-family: 'Raleway';
      font-size: 1em;
    }
    .cat-list {
      padding-left: 2%;
      padding-top: 5%;
      li {
        margin-bottom: 5%;
        font-size: 1.5em;
        a, a:visited {
          color: rgb(40, 179, 118);
        }
      }
      span.remaining {
        font-size: 0.75em;
        float: right;
        padding-top: 2%;
      }
      .done {
        color: red;
      }
    }
    .clip-category {
      padding-top: 5%;
      margin-bottom: 10%;
    }
    .clip-grid {
      margin-right: 10%;
      button {
        font-size: 2em;
      }
    }
    .clicked {
      background-color: red;
    }
    .title-frame {
      h1 {
        font-size: 4em;
      }
    }
    .team-scores {
      margin-top: 5%;
      .score {
        font-family: 'Raleway';
        font-size: 10em;
      }
      .team {
        .cats-success {
          border-top:rgb(40, 179, 118) 0.1em solid;
          margin-top: 2%;
          padding-left: 2%;
          font-size: 1em;
          color:rgb(40, 179, 118);
          ul {
            margin-top: 5%;
          }
        }
      }
    }
    .round-control-panel {
      // width: 50%;
      // margin-left: 85%;
      padding: 10%;
      border: yellow 0.1em solid;
      p {
        font-size: 2em;
      }
      button.start-button {
        // margin-top: 2%;
        background-color: green;
      }
      button.reset-button {
        // margin-top: 2%;
        background-color: red;
      }
    }    
    .current {
      border: yellow 0.2em solid;
    }
    p.footer-text {
      color: white;
      font-size: 1rem;
    }
  }

</style>