<template>
  <section id="video-question">
    <div v-if="!clipComplete">
      <VideoClip :clip="clip" v-on:clipOver="onClipOver"/>
    </div>
    <div v-else>
      <div class="container has-text-centered">
        <h1>{{category.category}}</h1>
      </div>
      <div class="container question">
        <div class="columns">
          <div class="column is-two-thirds question-box">
            <div v-if="clip.question">
              <p>{{clip.question}}</p>
            </div>
            <div v-if="category.question">
              <p>{{category.question}}</p>
            </div>
            <div v-if="answer && clip.answer">
              <p class="green">{{clip.answer}}</p>
            </div>
            <hr />
            <div v-if="this.hint1">
              <div v-if="clip.summary">
                <p>{{clip.summary}}</p>
              <hr />
              </div>
              <div v-if="clip.oscars">
                <p>Academy Awards for: </p>
                <p>{{clip.oscars.join(",")}}</p>
                <hr />
              </div>
            </div>
            <div v-if="this.hint2">
              <div v-if="this.answer">
                <div class="green">
                  <p>{{this.clip.title}}</p>
                </div>
              </div>
              <div class="title">
                <p>{{clipTitle}}</p>
              </div>
              <hr />
            </div>
            <div v-if="this.timeUp">
              <p>{{clip.year}}</p>
              <div v-if="clip.afi">
                <p>AFI Top 100: <span class="green">#{{clip.afi}}</span></p>
              </div>
              <div v-if="clip.afi97">
                <p>AFI Top 100 (1997): <span class="green">#{{clip.afi97}}</span></p>
              </div>
              <hr />
            </div>
          </div>
          <div class="column">
            <div class="timer box">
              <div class="container has-text-centered clock">
                <p v-bind:style="{'color': textColor}">{{questionTime}}</p>
              </div>
              <div class="level">
                <div class="level-item">
                  <b-button class="is-success" @click="countdown">Start</b-button>
                </div>
                <div class="level-item">
                  <b-button class="is-warning" @click="pauseToggle">Pause</b-button>
                </div>
                <div class="level-item">
                  <b-button class="is-danger" @click="reset">Reset</b-button>
                </div>
              </div>
            </div>
            <div v-if="this.currentTeam">
              <div class="scoring box">
                <h1>Scoring</h1>
                <div v-if="scored" class="has-text-centered">
                  <h2>{{questionScore}}</h2>
                </div>
                <div v-else>
                  <div class="field">
                    <b-checkbox type="is-success" v-model="identified">Movie</b-checkbox>
                  </div>
                  <div class="field">
                    <b-checkbox type="is-success" v-model="identifiedWithClue">With Clue?</b-checkbox>
                  </div>
                  <div v-if="clip.question || category.question">
                    <b-checkbox type="is-success" v-model="answered">Question</b-checkbox>
                  </div>
                  <b-button class="is-success is-pulled-right" @click="score">Score</b-button>
                </div>
              </div>
            </div>
            <div class="container">
              <router-link :to="{ name: 'home', params: { scored: scored}}">
                <b-button size="is-large">Return</b-button>
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import VideoClip from '@/components/VideoClip.vue'


export default {
  name: "VideoQuestion",
  components: {
    VideoClip
  },
  data: function() {
    return {
      category: null,
      clip: null,
      clipTitle: null,
      clipComplete: false,
      questionTime: 30,
      textColor: '#00FF00',
      isPaused: false,
      hint1: false,
      hint2: false,
      timeUp: false,
      answer: false,
      audio: null,
      identified: false,
      identifiedWithClue: false,
      answered: false,
      scored: false,
      questionScore: 0
    }
  },
  computed: {
    currentTeam() {
      return this.$store.getters.currentTeam
    },
    currentTeamIndex() {
      return this.$store.getters.currentTeamIndex
    },
    teams() {
      return this.$store.getters.teams
    }
  },
  created: function() {
    this.category = this.$route.params.category;
    this.clip = this.$route.params.clip;
    this.clipTitle = this.hideTitle(this.clip.title);
    this.audio = new Audio(require('@/assets/asian_gong.mp3'))
  },
  methods: {
    onClipOver: function() {
      this.clipComplete = true;
      // this.countdown();
    },
    countdown() {
      if (!this.isPaused) {
        this.questionTime -= 1;
        if (this.questionTime > 0) {
          if (this.questionTime > 20) {
            this.textColor = '#00FF00'
          }
          else if (this.questionTime > 10) {
            this.textColor = '#FFD824'
          }
          else {
            this.textColor = '#FF0000';
          }
          if (this.questionTime < 20) {
            this.hint1 = true;
            if (this.questionTime < 15) {
              this.hint2 = true;
            }
          }
          setTimeout(() => {
            this.countdown()
          }, 1000);
        }
        else {
          this.timeUp = true;
          this.audio.play();
        }
      }
    },
    reset() {
      this.questionTime = 30;
      this.textColor = '#00FF00';
      this.answer = true;
    },
    pauseToggle() {
      this.isPaused = !this.isPaused;
    },
    hideTitle(title) {
      let newTitle = title.toUpperCase().split('');
      for (let i = 0; i < newTitle.length; i++) {
        if (newTitle[i] != ' ') {
          let r = Math.random()
          if (r > 0.35) {
            newTitle[i] = '_'
          }
        }
      }
      console.log(newTitle.join('').replace(/ /g, "  "))
      return(newTitle.join('').replace(/ /g, "   "));
    },
    score() {
      this.questionScore = 0
      if (this.clip.question || this.category.question) {
        // 50 / 50
        if (this.identified) {
          this.questionScore += 50
        }
        if (this.identifiedWithClue) {
          this.questionScore += 25
        }
        if (this.answered) {
          this.questionScore += 50
        }
      }
      else {
        if (this.identified) {
          this.questionScore += 100
        }
        if (this.identifiedWithClue) {
          this.questionScore += 50
        }
      }
      this.scored = true;
      let updatedTeams = this.teams;
      for (let i = 0; i < updatedTeams.length; i++) {
        if (this.currentTeam.name == updatedTeams[i].name) {
          // Update Score
          updatedTeams[i].score += this.questionScore;
          if (this.identified || this.identifiedWithClue) {
            console.log(this.category);
            if (!updatedTeams[i].categories.includes(this.category.category)) {
              updatedTeams[i].categories.push(this.category.category);
            }
            let uniqueCats = Math.floor(updatedTeams[i].categories.length / 3);
            updatedTeams[i].score += uniqueCats * 300;
          }
        }
      }
      this.$store.commit('teams', updatedTeams)
      console.log("Score");
    }
  }
}
</script>

<style lang="scss" scoped>
  @import "~bulma/sass/utilities/_all";

  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

  @import "~bulma";
  @import "~buefy/src/scss/buefy";

  section {
    height: 100%!important;
    font-family: 'Raleway';
    color: white;
    h1 {
      font-size: 3em;
    }
    p { 
      font-size: 0.5em;
    }
    div.question {
      padding-left: 5%;
      padding-right: 5%;
      padding-top: 2%;
      font-size: 4em;
      span {
        font-size: 1em;
      }
    }
    .clock {
      background-color: black;
      font-family: 'Exo 2';
      font-size: 4em;
      margin-bottom: 5%;
    }
    .title {
      font-size: 2em;
      // font-weight: 800;
      color: greenyellow;
      white-space: pre-wrap;
    }
    .emojis {
      padding: 0;
      width: 25%;
    }
    .green {
      color: green;
      font-size: 1.25em;
    }
    .scoring {
      font-size: 0.25em;
      padding-bottom: 25%;
      h2 {
        font-size: 6em;
      }
    }
  }
</style>