<template>
  <section id="video-clip-screen" class="section">
    <div id="player" v-show="visible">
      <youtube :video-id="clip.videoId" ref="youtube" width=1268 height=1024 @ready="onReady" @playing="onPlaying" @ended="onEnded">
      </youtube>
    </div>
  </section>
</template>

<script>
export default {
  name: "VideoClip",
  props: {
    clip: Object
  },
  data: function() {
    return {
      visible: false
    }
  },
  mounted: function() {
    this.visible = false;
    this.player.seekTo(this.clip.seekTo);
  },
  methods: {
    onReady: function() {
      console.log("Player ready")
      setTimeout(() => {
        this.visible = true;
      }, 1000);
    },
    onPlaying: function() {
      console.log("Playing");
      console.log(this.currentTime())
      if (this.clip.duration) {
        let stopDuration = this.clip.duration * 1000;
        setTimeout(() => {
          this.onTimeUpdate();
        }, stopDuration)
      }
    },
    onTimeUpdate: function() {
      this.player.stopVideo();
      this.visible = false;
      console.log(this.currentTime());
      this.$emit('clipOver');
    },
    onEnded: function() {
      this.visible = false;
      this.$emit('clipOver');
    },
    currentTime() {
      let c = new Date();
      return(c.getMinutes() + ":" + c.getSeconds())
    }
  },
  computed: {
    player() {
      return this.$refs.youtube.player;
    }
  }
}
</script>

<style lang="scss" scoped>
  section {
    margin-top: -10%;
    margin-left: 10%;
  }
</style>